
.h1{
    font-size: 1.7rem !important;
}
.h3{
    font-size: 1.38rem !important;
}
.h4{
    font-size: 1.20rem !important;
}
.h6{
    font-size: 1rem !important;
}
input{
    font-size: medium;
}
.head10  {
    height: 17vh;
    color: var(--Third-color);
}

.order-summary {
    background-color: white;

}

.btn1 {
    background-color: var(--sec-color);
    color:var(--primary-color);
}
.btn1:hover{
    background-color: #f8f8f8;
    color: var(--sec-color);
}

/* billing-details */
.billing-details {
    margin-left: 2%;
}

.dropdown-menu {
    width: 30% !important;

}

.form-select {
    width: 50% !important;
}


