<div class="countainer">
    <div class="header pt-5 mb-4 text-center w-100">
        <p class="h1">
            Checkout
        </p>
    </div>
</div>
<div class="row  w-100 justify-content-between">
    <!-- start bill details -->
    <div class="countainer billing-details col-md-11 col-lg-6 pt-5">
        <p class="h3 m-4 mb-5 mt-5">
            Billing Details
        </p>
        <div class="row g-3 mt-3 p-2">
            <div class="col">
                <input type="text" class="form-control form-control" placeholder="First name" name="first-name">
            </div>
            <div class="col">
                <input type="text" class="form-control form-control" placeholder="Last name" name="last-name">
            </div>
        </div>
        <div class="row g-3 p-2">
            <div class="col">
                <input type="email" class="form-control form-control mt-2" placeholder="E-mail" name="email">
            </div>
            <div class="col ">
                <input type="number" class="form-control form-control mt-2" placeholder="Phone number" name="number">
            </div>
        </div>
        <div class=" mt-1 mb-4 p-1">
            <div class="row g-3 mt-3 p-2">
                <select class="form-select mb-2" aria-label="Default select example"> aria-expanded="false">
                    <option disabled selected>Select a city</option>
                    <option class="dropdown-item" href="#">ٍٍ</option>
                    <option class="dropdown-item" href="#">Cairo</option>
                    <option class="dropdown-item" href="#">Giza</option>
                    <option class="dropdown-item" href="#">Alexandria</option>
                    <option class="dropdown-item" href="#">Port Said</option>
                    <option class="dropdown-item" href="#">Suez</option>
                    <option class="dropdown-item" href="#">Luxor</option>
                    <option class="dropdown-item" href="#">Asyut</option>
                    <option class="dropdown-item" href="#">Mansoura</option>
                    <option class="dropdown-item" href="#">Aswan</option>
                </select>
                <div class="col">
                    <input type="text" class="form-control form-control" placeholder="Adress Line 1" name="first-name">
                </div>
            </div>
            <input class="form-control form-control mb-2 p-3" type="text" placeholder=" Adress Line 2" name="adress">
            <input class="form-control form-control mb-2 p-3" type="text" placeholder=" Other instructions"
                name="adress">

        </div>
    </div>
    <!-- end details -->
    <!-- Order -->
    <div class="countainer order-summary col-md-11 col-lg-5 px-4 py2 mb-3">
        <p class="h3 m-4">
            Order Summary
        </p>
        <div class="d-flex flex-row w-100  justify-content-between">
            <div>
                <P class="h6">
                    PRODUCT
                </P>
            </div>
            <div>
                <P class="h6">
                    Total
                </P>
            </div>
        </div>
        <div class="d-flex flex-row w-100 justify-content-between">
            <p class="h6">
                Apple Watchx1
            </p>
            <p class="h6 mt-3">
                68$
            </p>
        </div>
        <p class="h6 lead w-100">
            Lorem ipsum dolor sit amet.
        </p>
        <div class="d-flex flex-row w-100 justify-content-between">
            <p class="h6">
                Apple Watchx1
            </p>
            <p class="h6 mt-3">
                68$
            </p>
        </div>
        <p class="h6 lead w-100">
            Lorem ipsum dolor sit amet.
        </p>
        <div class="d-flex flex-row w-100 justify-content-between">
            <p class="h6">
                Apple Watchx1
            </p>
            <p class="h6 mt-3">
                68$
            </p>
        </div>
        <p class="h6 lead w-100">
            Lorem ipsum dolor sit amet.
        </p>

        <div class="d-flex flex-row w-100  justify-content-between mt-4">
            <div class="h4">
                <P>
                    Total
                </P>
            </div>
            <div class="h3 text-danger">
                <P>
                    390$
                </P>
            </div>
        </div>
        <div class="d-flex flex-row w-100  justify-content-between mb-0">
            <div class="h6">
                <P>
                    Cash
                </P>
            </div>
            <div class="h6">
                <P>
                    390$
                </P>
            </div>
        </div>
        <div class="d-flex flex-row w-100  justify-content-between mb-0">
            <div class="h6">
                <P>
                    Points
                </P>
            </div>
            <div class="h6">
                <P>
                    100 Points
                </P>
            </div>
        </div>
        <button class="btn1 w-100 p-2 mt-3 mb-3 border-0">
            Order Now
        </button>
    </div>
    <!-- end order -->
</div>