<div class="products-filter ms-0 px-2 pt-3">
  <h5 class="px-2 pb-2">Product categories</h5>
  <div class="category px-2 pb-3">
    Food & Drink
  </div>
  <ul class="filter-items list-unstyled position-relative" id="filterItem">
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Fruits & Vegetables
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Beverages
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Breads & Bakery
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Biscuits & Snacks
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Meats & Seafood
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Food additives
    </li>
    <div class="category px-2 pb-3 pt-4">
      Clothes & Fashion
    </div>
    <!-- <ul class="filter-items list-unstyled position-relative" id="filterItem"> -->
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Hoodies
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Dress
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Leather purses
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      jeans
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      slippers
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      skirts
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Tshirts
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Accessories
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Shoes
    </li>
  </ul>
  <h5>Price Range</h5>
  <input type="range" class="range" #value>
  <span class="range-value">Price <span id="rangValue" class="ms-1">{{value.value}}</span></span>
  <h5 class="brand">Shop Name</h5>
  <ul class="filter-items list-unstyled position-relative" id="filterBrand">
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Nike
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Nike
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Nike
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Nike
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Nike
    </li>
    <li class="filter-item">
      <input type="checkbox" class="me-1" name="" id="">
      Nike
    </li>
  </ul>
  <h5 class="brand">Rting</h5>
  <ul class="filter-items list-unstyled position-relative" id="filterBrand">
    <li class="filter-item rating">
      <input type="checkbox" class="me-1" name="" id="">
      ★★★★★
    </li>
    <li class="filter-item rating">
      <input type="checkbox" class="me-1" name="" id="">
      ★★★★★
    </li>
    <li class="filter-item rating">
      <input type="checkbox" class="me-1" name="" id="">
      ★★★★★
    </li>
    <li class="filter-item rating">
      <input type="checkbox" class="me-1" name="" id="">
      ★★★★★
    </li>
    <li class="filter-item rating">
      <input type="checkbox" class="me-1" name="" id="">
      ★★★★★
    </li>
    <li class="filter-item rating">
      <input type="checkbox" class="me-1" name="" id="">
      ★★★★★
    </li>
  </ul>
  <button class="btn apply-btn">Apply</button>
</div>
