<section class="products mt-5">
  <div class="container">
    <div class="row justify-content-between m-0">
      <div class="col-xl-3 p-0 filter d-xl-block d-lg-block d-md-none d-none">
        <app-product-filter></app-product-filter>
      </div>
      <div class="col-xl-8 p-0 items">
        <div class="top-part d-flex justify-content-between">
          <span class="h6 m-0">Showing <b>66</b> results</span>
          <span class="h6 m-0">Sort By:
            <select class="sortBy-options pb-2">
              <option value="Top Rating">Top Rating</option>
              <option value="Popular">Popular</option>
              <option value="Top Selling">Top Selling</option>
              <option value="Lower price">Lower price</option>
            </select>
          </span>
          <button class="btn filter-icon d-lg-none d-sm-block" type="button" id="filterIcon">
            <i class="fa-solid fa-filter fs-5"></i>
          </button>
          <!-- <span class=""></span> -->
        </div>
        <!-- <div class="colapse-filter">
                        <div class="row">

                        </div>
                    </div> -->
        <div class="row m-0  botm-part justify-content-between" id="item">
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <a routerLink="/user/item">
              <div class="item-img">
                <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
              </div>
            </a>
            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div>

            <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button>
          </div>
          <!-- <div class="col-xl-4 p-0 item d-flex flex-column align-items-center justify-content-between">
            <div class="item-img">
              <img src="./../../../assets/img/basil-leaves-400x400.png" alt="">
            </div> -->

          <!-- <h6 class="item-name">McCormick</h6>
            <div class="price d-flex justify-content-start">
              <span class="h6 text-decoration-line-through me-3 text-danger">70$</span>
              <span class="h6 curren-price">50$</span>
            </div>
            <button class="btn mb-2 text-white add-to-cart-btn">Add To Cart</button> -->
        </div>

      </div>
      <div class="ads mb-4 d-flex justify-content-evenly">
        <div class="pe-3">
          <img src="./../../../../assets/img/bacola-banner-08.jpg" alt="">
          <div class="ads-content">
            <h3 class="fs-6 pb-3">Many offers for you</h3>
            <button class="btn shop-now-btn">Shop Now</button>
          </div>
        </div>
        <div class="pe-3">
          <img src="./../../../../assets/img/bacola-banner-07.jpg" alt="">
          <div class="ads-content">
            <h3 class="fs-6 pb-3">Weekend Discount 30%</h3>
            <button class="btn shop-now-btn">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
