footer
{
    font-size: 0.8rem;
}

footer .text-uppercase
{
    color: var(--primary-color) !important;
}
footer .fa
{
    color: var(--Third-color) !important;
}
.social .fa
{
    color: var(--Third-color) !important;

    /* color: var(--primary-color) !important; */
    font-size: 20px !important;
}
