<div class="p-4">
  <p class="h1">
    Your Cart
  </p>
</div>


<div class="row  w-100 justify-content-between">
  <div class=" col-md-11 col-lg-7 m-4">
    <!-- table -->
    <table class="table  table-striped" id="allProductTable" aria-describedby="allProductTable_info">
      <thead class="table-light">
        <tr>
          <th scope="col">
          </th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity </th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let Product of CartList">
          <td scope="row">
          </td>
          <td class="p-3">
            <div class="d-flex flex-row justify-content-around ">
              <img [src]="Product.Image" class=" rounded product_img">
              <div class="h4 ms-2 "> 
                <a class="text-decoration-none text-black" href="#">
                  {{Product.Info}}
                </a>
              </div>
            </div>
          </td>
          <td class="px-1 py-2">
            {{Product.Price}}$
          </td>
          <td class="text-center px-3 py-2 d-flex align-items-center justify-content-between ">
            <div>
              <a href="#" class="text-black"> <i class="fa-solid fa-minus"></i> </a>
            </div>
            <div>
              {{Product.Quantity}}
            </div>
              <div>
                <a href="#" class="text-black"><i class="fa-solid fa-plus"></i> </a>
              </div>
          </td>
          <td class="p-3">
            {{Product.Total}}$
          </td>

          <td class="p-3">
            <div class="btn-box d-flex flex-row justify-content-between">

              <div class="btn  ms-1 bg-danger cancel">
                <button>
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- table -->
  </div>
  <!-- form -->

  <div class=" form   rounded p-3 m-3 m-x2 row col-lg-4 col-md-11 bg-white">
    <form>
        <div>
          <P class="h2">
            Summary

          </P>
        </div>
        <div class="d-flex flex-row w-100 mt-2 justify-content-between mb-2">
          <div class="h3">
            <P>
              Total
            </P>
          </div>
          <div class=" h3">
            <P>
              90$
            </P>
          </div>
        </div>
        <div class="d-flex flex-row w-100 mt-2 justify-content-between mb-2">
          <div class="h4">
            <P>
              Reward Points
            </P>
          </div>
          <div class=" h4">
            <P>
              9 Point
            </P>
          </div>
        </div>

      <div class="d-flex flex-row w-100  justify-content-between mb-4">
        <div>
          <input class="form-check-input" type="radio" name="shipping" id="shipping1" value="option1" checked>
          <label class="form-check-label" for="shipping1">
           Pay By Cash
          </label>
        </div>
        <p>
          88$
        </p>
      </div>
      <div class="d-flex flex-row w-100  justify-content-between mb-4">
        <div>
          <input class="form-check-input" type="radio" name="shipping" id="shipping2" value="option2">
          <label class="form-check-label" for="shipping2">
           Pay By Point
          </label>
        </div>
        <p>
          100
        </p>
      </div>


      <button class="btn w-100 p-2 mb-3 ">
        Go to checkout
      </button>
    </form>
  </div>
  <!-- form -->

</div>