
  <div class="container">

      <div class="paymentMethodPage">
          <div class="bank">
              <img src="../../../../assets/img/wallet.jpg" alt="Banking">
              <div class="bankDetails">
                  <h3>Mared Walet</h3>
                  <p>Bank **********5535</p>
                  <span>Verified</span>
              </div>
              <button>Mange Wallet</button>
          </div>
          <hr>
      </div>

</div>
<div class="container">

      <div class="paymentMethodPage">
          <div class="bank">
              <img src="../../../../assets/img/png.png" alt="Points">
              <div class="bankDetails">
                  <h3>Points earned</h3>
                  <span>60</span>

              </div>
              <button>Use Points</button>
          </div>
          <hr>
      </div>

</div>
