.gradient-custom-2 {
  position: relative;
  background-image: url(./../../assets/img/login-bg-7.jpg);
  background-size: cover;
  background-position: bottom left;
}

.gradient-custom-2 .lyr {
  width: 522px;
  height: 718px;
  background-color: var(--Third-color);
  opacity: .9;
  position: absolute;
  top: 0;
  left: 0;
}

.gradient-custom-2 .content {
  position: relative;
  z-index: 1111;
}
        .gradient-custom-2 .content span {
          color: var(--sec-color);
        }
.gradient-form {
  height: 100vh;
}

.cards {
  height: 100vh;
}

.register-btn {
  padding: 20px 15px;
  background-color: var(--Third-color);
}

.container .row {
  height: 100vh;
}

/* .gender{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;

} */
.login-link{
  text-decoration: none;
  color: var(--Third-color);
}
